<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center">Welcome {{user.first_name}}!!!</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/logout" class="btn btn-info">Logout</a>
        </div>
    </nav>
    <form action="/create/thought" class="p-2" method="post">
    {% with messages = get_flashed_messages(category_filter=['thought']) %}
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
        <textarea class="form-control" name="content" id="" placeholder="Post a thought here" cols="30" rows="3"></textarea>
        <input type="submit" value="Add Thought" class="btn btn-warning">
    </form>
    <hr>
    <main class="d-flex justify-content-around">
        <div class="col-5 bg-dark">
        {% for thought in thoughts %}
            <div class="card my-2">
                <div class="card-body">
                    <a href="/users/{{thought.user_id}}">{{thought.user_firstname}} says:</a>
                    <p>{{thought.content}}</p>
                    {% if thought.user_id == session.user_id %}
                    <a href="/destroy/thought/{{thought.id}}" class="btn btn-danger">Delete</a>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <form action="/likes/{{thought.id}}" class="p-2" method="post">
                        <input type="submit" value="Like" class="btn btn-warning">
                    </form>
                    <form action="/unlikes/{{thought.id}}" class="p-2" method="post">
                        <input type="submit" value="Unlike" class="btn btn-warning">
                    </form>
                    <p>{{like_count_dict[thought.id]}} likes</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </main>
</body>
</html>