<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/index.css" rel="stylesheet">
    <title>Index</title>
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
        </header>
        <main class="px-3">
            <h1>Welcome to PawFosterFamily!</h1>
            <p class="lead">PawFosterFamily is a web-based application wherein the welfare of shelter pet animals is taken care of. Please join us to help our stray, lost, abandoned, or surrendered paws.</p>
            <p>
            <a href="/foster" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Foster</a>
            <a href="/shelter" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Shelter</a>
            </p>
    </main>
    <footer class="mt-auto text-white-50">
        <p>Solo project by Maple Li</p>
    </footer>
    </div>
</body>
</html>