<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Pet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="py-4 container-fluid">
        <h2 class="float-left mb-0">Welcome back {{shelter.shelter_name}}!</h2>
        <nav class="nav nav-masthead justify-content-center float-right">
            <a href="/shelter/dashboard" class="btn btn-info ml-1">Dashboard</a>
            <a href="/logout" class="btn btn-info ml-1">Logout</a>
        </nav>
        <div class="clearfix"></div>
    </div>
    <form action="/create/pet" method="post" enctype="multipart/form-data" class="col-11 p-4 my-4 mx-auto border border-dark">
        <h2 class="text-info">Post a New Paw</h2>
        {% with messages = get_flashed_messages(category_filter=['pet']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <div class="d-flex justify-content-between col-9">
            <div class="col-4">
                <div class="form-group">
                    <label for="img">Paw's picture:</label>
                    <input type="file" name="img" id="img">
                </div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="age">Age:</label>
                    <input type="text" name="age" class="form-control">
                </div>
                <div class="form-group">
                    <label for="foster_time_needed">Foster time Needed:</label>
                    <input type="text" name="foster_time_needed" class="form-control">
                </div>
                
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="foster_grade">Foster grade:</label>
                    <select name="foster_grade" class="form-select form-select-lg mb-3">
                        <option selected>Select foster grade</option>
                        <option value="1">Challenging</option>
                        <option value="2">Normal</option>
                        <option value="3">Easy</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea name="description" cols="30" rows="5" class="form-control"></textarea>
                </div>
                <input type="submit" value="Add Pet" class="btn btn-info">
                </div>
            </div>
        </div>
    </form>
</body>
</html>