<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shelter Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center">Welcome {{shelter.shelter_name}}</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/new/pet" class="btn btn-info">Post a new paw</a>
            <a href="/logout" class="btn btn-info">Logout</a>
        </div>
    </nav>
    <div class="card col-10 mx-auto my-5 bg-dark text-light">
        <div class="card-body">
            <h2 class="card-title text-primary">My Paws</h2>
            {% for pet in pets %}
            <img src="{{pet.name}}.jpg" alt="{{pet.name}}'s pic">
            <p class="card-text">Name:{{pet.name}}</p>
            <p class="card-text">Age:{{pet.age}}</p>
            <p class="card-text">Foster Grade:{{pet.foster_grade}}</p>
            <hr>
            {% endfor %}
        </div>
    </div>
    <div class="card col-10 mx-auto my-5 bg-dark text-light">
        <div class="card-body">
            <h2 class="card-title text-primary">Applications</h2>
            {% for app in applications %}
            <p class="card-text">Pet Name: {{app['pet_name']}}</p>
            <p class="card-text">Foster Name: {{app['foster'].first_name}} {{app['foster'].last_name}}</p>
            <p class="card-text">Foster Location: {{app['foster'].city}}, {{app['foster'].state}}</p>
            <p class="card-text">Foster Contact: {{app['foster'].email}}</p>
            <form action="/application/{{app['application_id']}}/approve" method="post">
                <button type="submit">Approve</button>
            </form>
            <form action="/application/{{app['application_id']}}/reject" method="post">
                <button type="submit">Reject</button>
            </form>
            {% endfor %}
        </div>
    </div>
</body>
</html>