<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Pet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="py-4 container-fluid">
        <h2 class="float-left mb-0">Welcome back {{foster.first_name}}!</h2>
        <nav class="nav nav-masthead justify-content-center float-right">
            <a href="/foster/account" class="btn btn-info mr-1">My Foster</a>
            <a href="/logout" class="btn btn-info">Logout</a>
        </nav>
        <div class="clearfix"></div>
    </div>
    <div class="card col-10 mx-auto my-5 border shadow">
        <div class="card-body">
            <img src="/static/{{ pet.img }}" class="card-img-top" alt="{{pet.name}}'s pic">
            <h5 class="card-title">{{pet.name}}</h5>
            <p class="card-text">Age: {{pet.age}}</p>
            <p class="card-text">Foster time needed: {{pet.foster_time_needed}}</p>
            <p class="card-text">Foster grade: {{pet.foster_grade}}</p>
            <p class="card-text">Description: {{pet.description}}</p>
            <form action="/apply/pet/{{pet.id}}" method="post">
                <button type="submit" formmethod="post" class="btn btn-outline-secondary">Apply</button>
            </form>
        </div>
    </div>
</body>